@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  /*For Google Chrome*/
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* #swipedefault {
  box-shadow: none !important;
} */
